<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804450600164-fo94ct9u64akhgtiotbvjv0d2pq66u6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804450600164-fo94ct9u64akhgtiotbvjv0d2pq66u6g</string>
	<key>API_KEY</key>
	<string>AIzaSyACmTPVqXtdGOzk2N860Jod0-0rNqXWG7w</string>
	<key>GCM_SENDER_ID</key>
	<string>804450600164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codershigh.pacemaker</string>
	<key>PROJECT_ID</key>
	<string>pace-maker-74452</string>
	<key>STORAGE_BUCKET</key>
	<string>pace-maker-74452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804450600164:ios:d8eafa5a40ed28eb0e98f1</string>
	<key>DATABASE_URL</key>
	<string>https://pace-maker-74452-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>