<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333458506921-2var0313i3mapd06635qik1d410ph45f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333458506921-2var0313i3mapd06635qik1d410ph45f</string>
	<key>API_KEY</key>
	<string>AIzaSyBeue78QUNbltmvwMF3nUf_ZkktDA1Mk2w</string>
	<key>GCM_SENDER_ID</key>
	<string>333458506921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ohsungjoon.firebase-test</string>
	<key>PROJECT_ID</key>
	<string>fir-test-c5e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-c5e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333458506921:ios:230e8ea67123878d2915b8</string>
</dict>
</plist>